body {
    background-color: bisque;
    font-family: 'Arial', 'Verdana', 'Brush Script MT';
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
    padding: 20px;

}